<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CGPDeviceCategory</key>
	<string>GamePad</string>
	<key>CGPDeviceType</key>
	<string>Standard</string>
	<key>CGPDeviceImageType</key>
	<string>Xbox</string>
	<key>CGPDisplayNameOvr</key>
	<string>8BitDo Ultimate 2 Wireless Controller</string>
	<key>VendorID</key>
	<integer>11720</integer>
	<key>ProductID</key>
	<integer>24594</integer>
	<key>LeftAxisX</key>
	<string>1:48</string>
	<key>LeftAxisY</key>
	<string>1:49</string>
	<key>LeftTrigger</key>
	<string>2:197</string>
	<key>RightAxisX</key>
	<string>1:50</string>
	<key>RightAxisY</key>
	<string>1:53</string>
	<key>RightTrigger</key>
	<string>2:196</string>
	<key>Hatswitch</key>
	<string>1:57</string>
	<key>HSValueRest</key>
	<integer>8</integer>
	<key>HSValueUp</key>
	<integer>0</integer>
	<key>HSValueUpRight</key>
	<integer>1</integer>
	<key>HSValueRight</key>
	<integer>2</integer>
	<key>HSValueDownRight</key>
	<integer>3</integer>
	<key>HSValueDown</key>
	<integer>4</integer>
	<key>HSValueDownLeft</key>
	<integer>5</integer>
	<key>HSValueLeft</key>
	<integer>6</integer>
	<key>HSValueUpLeft</key>
	<integer>7</integer>
	<key>ButtonDevice</key>
	<string>9:13</string>
	<key>ButtonA</key>
	<string>9:1</string>
	<key>ButtonB</key>
	<string>9:2</string>
	<key>ButtonX</key>
	<string>9:4</string>
	<key>ButtonY</key>
	<string>9:5</string>
	<key>LeftShoulder</key>
	<string>9:7</string>
	<key>RightShoulder</key>
	<string>9:8</string>
	<key>ButtonBack</key>
	<string>9:11</string>
	<key>ButtonStart</key>
	<string>9:12</string>
	<key>LeftThumb</key>
	<string>9:14</string>
	<key>RightThumb</key>
	<string>9:15</string>
	<key>LeftAxisX-InitVal</key>
	<integer>127</integer>
	<key>LeftAxisY-InitVal</key>
	<integer>127</integer>
	<key>RightAxisX-InitVal</key>
	<integer>127</integer>
	<key>RightAxisY-InitVal</key>
	<integer>127</integer>
	<key>LeftTrigger-InitVal</key>
	<integer>0</integer>
	<key>RightTrigger-InitVal</key>
	<integer>0</integer>
</dict>
</plist>
